<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rose</title>
  <link rel="Shortcut icon"
        href="assets/img/services/alerta2.png" />
  



  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">

  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

  <!--Icon Fonts-->
  <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css" />


  <!-- Extras -->
  <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
  <link rel="stylesheet" type="text/css" href="assets/extras/lightbox.css">


  <!-- jQuery Load -->
  <script src="assets/js/jquery-min.js"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<%= csrf_meta_tags %>

<%= yield %>

</head>

<body data-spy="scroll" data-offset="20" data-target="#navbar">
  <!-- Nav Menu Section -->
  <div class="logo-menu">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="50">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-md-3">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#hero-area"><img src="assets/img/rose_logo.png"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav col-md-9 pull-right">
            <li class="active"><a href="#hero-area"><i class="fa fa-home"></i> Início</a></li>
            <li><a href="#services"><i class="fa fa-cogs"></i> Serviços</a></li>
            <li><a href="#portfolio"><i class="fa fa-comments"></i> Estatísticas</a></li>
            <li><a href="#about"><i class="fa fa-info"></i> Sobre</a></li>
            <li><a href="#contact"><i class="fa fa-phone"></i> Denuncie</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- Nav Menu Section End -->

  <!-- Hero Area Section -->

  <section id="hero-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- <h1 class="title">Rose</h1>
          <h2 class="subtitle">Como uma rosa...</h2> -->

          <img class="col-md-6 col-sm-6 col-xs-12 animated fadeInLeft" src="assets/img/hero/ROSE1.png" alt="">

          <div class="col-md-6 col-sm-6 col-xs-12 animated fadeInRight delay-0-5">
            <p>QUE NÃO ESMURREM COM AS MÃOS QUE TE ACARICIAM
                <br>
                QUE NÃO TE OFENDAM COM A BOCA QUE TE BEIJA
                <br>
                QUE NÃO TE ARRANQUEM SONHOS PROMETIDOS
                <br>
                QUE VOCÊ TENHA SEUS PRÓPRIOS SONHOS
                <br>
                QUE NÃO TE CALEM COM PALAVRAS DE AMOR
                <br>
                AMOR NÃO BATE, AMOR NÃO MATA
                <br>
                AMOR SACIA, AMOR RESPEITA
                <br> <br>
                - Grazi
            </p>
            <a href="https://usuario21.typeform.com/to/S39bzs" class="btn btn-common btn-lg">Acesse a pesquisa aqui</a>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- Hero Area Section End-->



  <!-- Service Section -->

  <section id="services">
    <div class="container text-center">
      <div class="row">
        <h1 class="title">O que fazemos</h1>
        <h2 class="subtitle">O Rose facilita o acesso à denúncia sobre crimes contra a mulher</h2>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="service-item">
            <img src="assets/img/services/cell.png" alt="" style="width: 160px;">
            <h3>Facilite a denúncia</h3>
            <p>Facilite a denúncia de agressões sofridas por você ou por alguém conhecido através da utilização do app Rose.Você pode fazer uma denúncia instantânea, solicitando ajuda, ou então fazer uma denúncia de uma agressão sofrida anteriormente.</p>
          </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="service-item">
            <img src="assets/img/services/oficial.png" alt="" style="width: 140px;">
            <h3>Usuário Oficial</h3>
            <p>A sua denúncia estará conectada a ronda policial mais próxima do local, que poderá ir auxiliá-la.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="service-item">
            <img src="assets/img/services/alerta2.png" alt="" style="width: 100px;">
            <h3>Localização</h3>
            <p>Durante a denúncia, você pode escolher utilizar o sistema de localização para facilitar o processo de adicionar o local, ou pode escrever o endereço do fato. </p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Service Section End -->



  <!-- Portfolio Section -->

  <section id="portfolio">
    <div class="container">
      <div class="row">
        <h1 class="title">Estatísticas</h1>
        <h2 class="subtitle">Aqui encontram-se algumas estatísticas importantes</h2>



        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="portfolio-item wow fadeInLeft" data-wow-delay=".5s">
            <a href="#"><img src="assets/img/portfolio/graph.jpg" alt="" alt=""style="width: 230px;"></a>
            <div class="overlay">
              <div class="icons">
                <a data-lightbox="image1" href="assets/img/portfolio/graph.jpg" class="preview"><i class="fa fa-search-plus fa-4x"></i></a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="portfolio-item wow fadeInLeft" data-wow-delay=".7s">
            <a href="#"><img src="assets/img/portfolio/graph2.jpg" alt=""style="width: 230px;"></a></a>
            <div class="overlay">
              <div class="icons">
                <a data-lightbox="image1" href="assets/img/portfolio/graph2.jpg" class="preview"><i class="fa fa-search-plus fa-4x"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="portfolio-item wow fadeInLeft" data-wow-delay=".9s">
            <a href="#"><img src="assets/img/portfolio/graph3.jpg" alt=""style="width: 230px;"></a></a>
            <div class="overlay">
              <div class="icons">
                <a data-lightbox="image1" href="assets/img/portfolio/graph3.jpg" class="preview"><i class="fa fa-search-plus fa-4x"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="1.1s">
          <div class="portfolio-item">
            <a href="#"><img src="assets/img/portfolio/graph4.jpg" alt=""style="width: 230px;"></a></a>
            <div class="overlay">
              <div class="icons">
                <a data-lightbox="image1" href="assets/img/portfolio/graph4.jpg" class="preview"><i class="fa fa-search-plus fa-4x"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="1.3s">
          <div class="portfolio-item">
            <a href="#"><img src="assets/img/portfolio/graph5.jpg" alt=""style="width: 230px;"></a></a>
            <div class="overlay">
              <div class="icons">
                <a data-lightbox="image1" href="assets/img/portfolio/graph5.jpg" class="preview"><i class="fa fa-search-plus fa-4x"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="1.5s">
          <div class="portfolio-item">
            <a href="#"><img src="assets/img/portfolio/graph6.jpg" alt=""style="width: 230px;"></a></a>
            <div class="overlay">
              <div class="icons">
                <a data-lightbox="image1" href="assets/img/portfolio/graph6.jpg" class="preview"><i class="fa fa-search-plus fa-4x"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Portfolio Section End -->


  <!-- About Section -->

  <section id="about">
    <div class="container">
      <div class="row">
        <h1 class="title">Sobre nós</h1>
        <h2 class="subtitle">Entenda o que é o Rose</h2>

        <div class="col-md-8 col-sm-8 col-xs-12">
          <p>
            O ROSE é um aplicativo para smartphones, que tem por intuito facilitar uma denúncia em casos de abusos, assédio e agressões, sejam essas físicas ou verbais. Feito especialmente para mulheres sis e também para mulheres trans, seja qual for sua opção sexual. Afinal, sabemos que hoje em dia gênero e sexualidade são os principais motivos de agressão contra a mulher. O Brasil é tido como o país em primeiro lugar no que diz respeito a transfobia. 

            No ROSE, sua identidade é protegida. Você pode se sentir livre para denunciar anonimamente, de maneira rápida e eficaz. O app conta com serviços de localização, registros de mídias como fotografias, vídeo e áudio e conta também com uma comunidade de usuárias que partilham suas experiências. 

            Com ROSE você não está sozinha!

                <br><br>
          </p>
          <p>
            Acesse nossas Redes Sociais e fique por dentro das novidades!

            <a class="social" href="https://www.facebook.com/RoseComoUmaRosa/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
            <a class="social" href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
          </p>
        </div>



        <img class="col-md-4 col-sm-4 col-xs-12" src="assets/img/about/cell.png" alt="" style="width: 350px;">


      </div>
    </div>

  </section>
  <!-- About Section End -->



  <!-- Conatct Section -->
  <section id="contact">
    <div class="container text-center">
      <div class="row">
        <h1 class="title">Faça sua denúncia aqui</h1>

        <h4 class="subtitle">Falsa comunicação a Polícia é crime previsto no <a href="http://www.jusbrasil.com.br/topicos/10595912/artigo-340-do-decreto-lei-n-2848-de-07-de-dezembro-de-1940">Artigo 340 </a> do Código Penal Brasileiro, ficando sujeito o autor a detenção de 1 a 6 meses ou multa.</h4>

        <%= form_for(Denuncium.new) do |f| %>
          <div class="col-md-6 wow fadeInLeft" data-wow-delay=".5s">
            <div class="form-group">
              <div class="controls">
                <h3>Coloque a data, hora, endereço e descrição do fato ocorrido.</h3>
              </div>
            </div>
            <div class="form-group">
              <div class="controls"></div>
              <%= f.date_field :data, class: "form-control", placeholder: "Data do fato" %>
            </div>
            <div class="form-group">
              <div class="controls"></div>
              <%= f.time_field :hora, class: "form-control", placeholder: "Hora do fato" %>
            </div>
            <div class="form-group">
              <div class="controls"></div>
              <%= f.text_field :endereco, class: "form-control requiredField", placeholder: "Endereço do fato ocorrido" %>
            </div>
            <div class="form-group">
              <div class="controls"></div>
              <%= f.text_area :descricao, class: "form-control", placeholder: "Descrição do fato ocorrido" %>
            </div>
            <div class="form-group">
              <div class="controls"></div>
              <%= f.hidden_field :x %>
            </div>
            <div class="form-group">
              <div class="controls"></div>
              <%= f.hidden_field :y %>
            </div>
            <%= f.submit "Denunciar", class: "btn btn-lg btn-common" %>
          </div>
          <div class="col-md-6 wow fadeInLeft" data-wow-delay=".5s">
              <div id="map" style=' height: 400px'></div>
          </div>
        <% end %>

    </div>
  </section>

  <!-- Conatct Section End-->

  <div id="copyright">
    <div class="container">
      <div class="col-md-10"><p>© Corporal 2014 All right reserved. Design & Developed by <a href="http://graygrids.com">GrayGrids</a></p></div>
      <div class="col-md-2">
        <span class="to-top pull-right"><a href="#hero-area"><i class="fa fa-angle-up fa-2x"></i></a></span>
      </div>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
  <!-- Copyright Section End-->
  <script src="//maps.google.com/maps/api/js?v=3.23&key=AIzaSyDXtgkCTEDGBTbFR5Cc4dcQjxVACU6XA80"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
  <!-- Bootstrap JS -->
  <script src="assets/js/bootstrap.min.js"></script>

  <!-- Smooth Scroll -->
  <!-- Smooth Scroll -->
  <script src="assets/js/smooth-scroll.js"></script>
  <script src="assets/js/lightbox.min.js"></script>

  <!-- All JS plugin Triggers -->
  <script src="assets/js/main.js"></script>

  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": -5.832327,
          "lng": -35.2027254,
          "draggable": "true",
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  </script>



</body>
</html>
